input {
    outline: none;
    border: 1px solid grey;
    padding-left: 0.5rem;
}

.container {
    background-color: white;
    text-align: center;
    padding: 1rem 0;
    border-radius: 10px;
}

body {
    background-color: #001632;
}

h1 {
    color: #7f8b99;
}